<%= form_for :message, url: message_path(@message), method: :patch do |m| %>
  <% if @message.errors.any? %>
  	<div id="error_explanation">
  		<h2>
  			<%= pluralize(@message.errors.count, "error") %> prohibited this article from being saved:
  		</h2>
  		<ul>
  			<% @message.errors.full_messages.each do |msg| %>
  				<li><%= msg %></li>
  			<% end %>
  		</ul>
  	</div>
  <% end %>

  <p>
    <%= m.label :Message %><br>
    <%= m.text_area :the_message %>
  </p>
 
  <p>
    <%= m.submit %>
  </p>
<% end %>

<p>

<%= link_to 'View all messages', root_path %>